body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    padding-top: 120px;
}

.menu {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    padding: 20px;
}

img {
    height: 150px;
    width: 150px;
    margin-right: 50px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.skills {
    width: 15%; /* adjust the width to fit 4 skills in a row */
    position: relative;
    overflow: hidden;
    /*box-shadow: 0 4px 8px rgba(241, 238, 238, 0.1);*/
    margin: 1px; /* add some margin for spacing */
    
  }
  
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills:hover {
  box-shadow: 0 8px 16px white;
  transform: scale(1.05);
}

.experience {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-left: 20px;
}

.project {
    width: 30%;
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: 60%;
    
}

.project .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    color: #993399;
    text-align: center;
    padding: 10px;
}

.project {
    transition: box-shadow 0.3s, transform 0.3s;
}

.project:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#contact {
    background-color:#E6E6FA;
    height: 150px;
}
#competences {
    background-color: white;
    height: 500px;
}
#experience {
    background-color:#E6E6FA;
    height: 940px;
}
#formation {
    background-color:white;
    height: 600px;
}
#navig {
  padding-top: 30px;
}

.education {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .education h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .education h3 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .education ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .education li {
    margin-bottom: 10px;
  }
  
  .education li:before {
    content: "\2022"; /* bullet point */
    margin-right: 10px;
    color: #993399;
  }
  
  .master {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  .master:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  .bachelor {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  .bachelor:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .deust {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  .deust:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .baccalaureate {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  .baccalaureate:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
